module.exports = {
  presets: [
    'module:metro-react-native-babel-preset',
    '@babel/preset-typescript',
    '@babel/preset-react',
  ],
  env: {
    test: {
      presets: [
        [
          'module:metro-react-native-babel-preset',
          { useTransformReactJSXExperimental: true }
        ]
      ],
      plugins: [
        '@babel/plugin-transform-runtime',
        '@babel/plugin-proposal-class-properties',
        '@babel/plugin-proposal-object-rest-spread'
      ]
    }
  },
  plugins: [],
};
